<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<main>
      
    <h2>Update <%= model.name %></h2>
    <!-- enctype="multipart/form-data" -->
    <form action="<%= baseUrl %>/<%= model.id %>?_method=PUT" method="post" >
        <label for="name">Name</label>
        <input 
            type="text" 
            name="name" 
            id="name"
            required
            value="<%= model.name %>"/>

        <label for="brand">Brand</label>
        <input 
            type="text" 
            name="brand" 
            id="brand"
            value="<%= model.brand %>"/>

        <!-- <label for="image">Image</label>
        <input type="file" name="image" id="image" value="value="<%= model.img %>""/> -->

        <label for="manufacturer">Manufacturer</label>
        <input 
            type="text" 
            name="manufacturer" 
            id="manufacturer"
            value="<%= model.manufacturer %>"/>

        <label for="model">Model</label>
        <input 
            type="text" 
            name="model" 
            id="model"
            value="<%= model.model %>"/>

        <label for="yearOfProduction">Year of Production</label>
        <input 
            type="number" 
            name="yearOfProduction" 
            id="yearOfProduction"
            value="<%= model.yearOfProduction %>"/>

        <label for="purchasePrice">Purchase Price</label>
        <input 
            type="number" 
            name="purchasePrice" 
            id="purchasePrice"
            value="<%= model.purchasePrice %>"/>

        <label for="currentValue">Estimated Current Value</label>
        <input 
            type="number" 
            name="currentValue" 
            id="currentValue"
            value="<%= model.currentValue %>"/>

        <label for="preparedToSell">For Sale</label>
        <input 
            type="checkbox" 
            name="preparedToSell" 
            id="preparedToSell"
            <% if (model.preparedToSell) { %>
                checked
            <% } %>    
            />

        <label for="soldPrice">Sold for</label>
        <input 
        type="number" 
        name="soldPrice" 
        id="soldPrice"
        value="<%= model.soldPrice %>"/>

        <label for="qty">Quantity</label>
        <input 
            type="number" 
            name="qty" 
            id="qty"
            value="<%= model.qty %>"/>

        <label for="otherInfo">Other Info</label>
        <input 
            type="text" 
            name="otherInfo" 
            id="otherInfo"
            value="<%= model.otherInfo %>"/>

        <input type="submit" value="Update Model">
    </form>
</main>
<%- include("./partials/footer.ejs") %>