<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<main>    
    <div>
        <h2>Models Index</h2>
        <ul>
            <% for (let model of allModels) { %>
                <li>
                    <a href="models/<%= model.id %>"><%= model.name %></a>
                </li>
            <% } %>
        </ul>
    </div>  
    <div>
        <a href="models/new">Add more stuff</a>
    </div>
</main>
<%- include("./partials/footer.ejs") %>