<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
    <h2>Models Index</h2>
    <ul>
        <% for (let model of allModels) { %>
            <li>
                <a href="models/<%= model.id %>"><%= model.name %></a>
            </li>
        <% } %>
    </ul>
    </main>
<%- include("./partials/footer.ejs") %>